@import "tailwindcss";

@font-face {
    font-family: kalameh;
    src: url('/assets/fonts/kalameh/KalamehWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: kalameh_number;
    src: url('/assets/fonts/kalameh/KalamehWeb\(FaNum\)-Regular.woff') format('woff');
}

body {
    font-family: kalameh;
}

.number {
    font-family: kalameh_number !important;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: radial-gradient(circle 15px, #ffd738 90%, #0000);
    filter: drop-shadow(0px 0px 1px #ffd738);
    animation: l2 1s infinite alternate linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    --g: no-repeat linear-gradient(#ffd738 0 0) 50%;
    background:
        var(--g)/100% 5px,
        var(--g)/5px 100%;
    -webkit-mask: radial-gradient(farthest-side, #0000 60%, #000 61%);
}

.loader::after {
    transform: rotate(45deg);
}

@keyframes l2 {
    100% {
        filter: drop-shadow(0px 0px 20px #ffd738)
    }
}

.app-container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg_warm {
    background-image: url(/assets/bg/wp10934490-hot-weather-wallpapers.jpg');
}

.bg_cold {
    background-image: url(/assets/bg/wp10208770-cold-weather-wallpapers.jpg');

}

.bg_usual {
    background-image: url(/assets/bg/wp4555534-pretty-sunny-day-wallpapers.jpg');
}